{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles.css') }}"
/>
<link rel="icon" type="image/x-icon" href="../images/logo.ico" />
<h1>
  <img src="../images/logo.png" width="10%" />
  <img src="../images/logo_20230106.png" />
</h1>

<p></p>

<h2>VISIR</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus placeat
  odit enim dolor assumenda corporis eius aspernatur a voluptatum iusto
  accusantium rerum, velit rem animi ex, nisi facilis deleniti neque!
</p>

<div class="tab">
  <button class="tablinks" onclick="openchoice(event, 'menu')" id="defaultOpen">
    Menu Principal
  </button>
  <button class="tablinks" onclick="openchoice(event, 'ohm')">
    Lei de Ohm
  </button>
  <button class="tablinks" onclick="openchoice(event, 'meiaonda')">
    Rectificador de meia onda
  </button>
  <button class="tablinks" onclick="openchoice(event, 'ondacompleta')">
    Rectificador de onda completa
  </button>
</div>

<div id="menu" class="tabcontent">
  <h3>Menu Principal. Blá, blá, blá</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo iure quis
    iste dignissimos distinctio beatae voluptatem optio ullam nostrum id
    deleniti deserunt, quas, esse labore dolorum necessitatibus voluptatibus
    excepturi exercitationem.
  </p>
</div>

<div id="ohm" class="tabcontent">
  <h3>Lei de Ohm - Escolha os circuitos. Blá, blá, blá</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo iure quis
    iste dignissimos distinctio beatae voluptatem optio ullam nostrum id
    deleniti deserunt, quas, esse labore dolorum necessitatibus voluptatibus
    excepturi exercitationem.
  </p>
  <img src="../images/circuit_R1.png" width="40%" />
  <p></p>

  <a href="/ohm" class="btn ok">Seguinte</a>
</div>

<div id="meiaonda" class="tabcontent">
  <h3>Rectificador de meia onda - Escolha os circuitos. Blá, blá, blá</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo iure quis
    iste dignissimos distinctio beatae voluptatem optio ullam nostrum id
    deleniti deserunt, quas, esse labore dolorum necessitatibus voluptatibus
    excepturi exercitationem.
  </p>
  <img src="../images/meiaonda.png" width="30%" />
  <p></p>

  <a href="/meiaonda" class="btn ok">Seguinte</a>
</div>

<div id="ondacompleta" class="tabcontent">
  <h3>Onda completa - Escolha os circuitos. Blá, blá, blá</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo iure quis
    iste dignissimos distinctio beatae voluptatem optio ullam nostrum id
    deleniti deserunt, quas, esse labore dolorum necessitatibus voluptatibus
    excepturi exercitationem.
  </p>
  <img src="../images/rectificador_onda_completa-541363.jpg" width="20%" />
  <p></p>
  <a href="/ondacompleta" class="btn ok">Seguinte</a>
</div>

<script>
  function openchoice(evt, circuit) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(circuit).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>
{% endblock %}
